body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    /* background-color: rgb(255, 0, 0); */
    width: 300px;
    height: 300px;
    animation: rotate 50s linear infinite;
}
.outerCircle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}
.amazon{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.amazon img{
    width: 100%;
    height: 100%;
    position: relative;
    top:-110px;
    left: -5px;
    animation: rotateElements 50s infinite linear;
    
}
.apple{
    width: 65px;
    height: 65px;
    object-fit: cover;
}
.apple img{
    width: 100%;
    height: 100%;
    position: relative;
    top:-300px;
    left: -15px;
    animation: rotateElements 50s infinite linear;
}
.meta{
    width: 70px;
    height: 55px;
    object-fit: cover;
}
.meta img{
    width: 100%;
    height: 100%;
    position: relative;
    top:-440px;
    left: 115px;
    animation: rotateElements 50s infinite linear;
}
.netlix{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.netlix img{
    width: 100%;
    height: 100%;
    position: relative;
    top:-280px;
    left: 265px;
    animation: rotateElements 50s infinite linear;
}
.microsoft{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.microsoft img{
    width: 100%;
    height: 100%;
    position: relative;
    top: -450px;
    left:270px;
    animation: rotateElements 50s infinite linear;

}
.google{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.google img{
    width: 100%;
    height: 100%;
    position: relative;
    top:-280px;
    left: 130px;
    animation: rotateElements 50s infinite linear;
}
.middleCircle{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: rgba(240, 154, 222, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCircle{
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 50%;
    animation: rotateElements 25s linear infinite;
}
.flipkart{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.flipkart img{
    width: 100%;
    height: 100%;
    position: relative;
    left: -10px;
    top: 10px;
    animation: rotate 50s linear infinite;
}
.adobe{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.adobe img{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 5px;
    animation:  rotate 50s linear infinite;
}
.linkedin{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.linkedin img{
    width: 100%;
    height: 100%;
    position: relative;
    left: 90px;
    top: -30px;
    animation:  rotate 50s linear infinite;
    /* background-color: white; */
}
.uber{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.uber img{
    width: 100%;
    height: 100%;
    position: relative;
    left: 90px;
    top: -40px;
    animation:  rotate 50s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotateElements{
    from{
        transform: rotate(360deg);
    }to{
        transform: rotate(0deg);
    }
}


